*{
    margin: 0 0;
    padding: 0 0;
    /* font-family: Arial, Helvetica, sans-serif; */
}
/* CSS for header section */
.navbar{
    background-color:#53284F 
}
.logo{
   float: left;
   padding-top: 10px;
   padding-left: 30px;
}
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
    overflow: hidden;
}
.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}
li a, .dropbtn{
    
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

  }
.dropdown:hover .dropdown-content {
    display: block;
}
/* CSS for slide section */
.mySlides{
    display: none; 
}
.w3-left, .w3-right, .w3-badge {
    cursor:pointer
}
.w3-badge {
    height:13px;width:13px;padding:0
}
.centered {
    font-size: 90px;
    color: #ffffff;
    font-family: 'Abril Fatface';
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text{
    position: absolute;
    font-size: 17px;
    font-family: 'Open Sans';
    color: #ffffff;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.submit-btn{
    background: none;
    border-color: #ffffff;
    font-family: 'Open Sans';
    color: #ffffff;
    padding: 12px 28px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.submit-btn:hover{
    border-color: grey;
}
/* CSS for footer */

/* CSS for cart */
