.tonhat{
	display: flex;
	justify-content: center;
}

.to{
	display: flex;
	justify-content: center;
}
a{
	text-decoration: none;
}
h2{
	text-align: center;

}
.cuoi{
	padding-top: 20px;
}

td{
	height: 70px;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
}


.a td{
	padding-bottom: 20px;
	font-weight: bold;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 40px;
}

.b td{
	font-weight: bold;
}
.anh{
	width: 130px;
	height: 75px;
}
.title{
	width: 350px;
}
.gia{
	width: 120px;
}
.soluong{
	width: 120px;
}
.total{
	width: 140px;
}
.thaotac{
	width: 120px;
}
table,th,td{
	  border: 1px solid #ddd;
  border-collapse: collapse;
}
.a td{
	border-bottom: 2px solid #ddd;
}
.b td{
	border: none;
}
.cuoi{
	margin-left:850px;
}
.aab{
	color: #fff;
    background-color: #5cb85c;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
}
.aab:hover{
	background-color: #216821;
}

.aaa{
    color: #fff;
    background-color: #5bc0de;
    border: none;
    border: none;
    border-radius: 25px;
     padding: 10px 20px;
}
.aaa:hover{
	background-color: #18677e;
}

.aloa{
	border: 1px solid #337ab7;
	background-color: #337ab7;
	color: white;
	padding: 1px 5px;
	border-radius: 8px;
}
.aloa:hover{
	background-color: #235580;
}
.alo{
	border: 1px solid #337ab7;
	background-color: #337ab7;
	color: white;
	padding: 1px 7px;
	border-radius: 8px;
}
.alo:hover{
	background-color: #235580;
}
.thaotac button{
	border-radius: 7px;
	padding: 2px 10px;
	border: 0.5px dotted;
	background-color: #e4acac;
}
.thaotac button:hover{
	background-color: #bc8686;
	color: #eae7e7;
	
}